pandas
numpy
scikit-learn
torch
nltk
stop-words
flask
requests
beautifulsoup4
matplotlib
feedparser
newspaper3k
langdetect
tqdm
lxml[html_clean]
transformers
datasets
joblib
sacremoses
accelerate
spacy
pytest
